* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-wrap: anywhere;
}

body {
    width: 100%;
    white-space: normal;
}

header {
    background-color: rgb(61, 79, 93);
    color: #fff;
    font-weight: bold;
    display: inline;
    padding: 1em 1em 0 1em;
}

a:hover,
a:focus {
    text-decoration: underline;
}

header a {
    font-size: 250%;
    text-decoration: none;
    color: rgb(92, 163, 209);
}

h1 {
    border-bottom: 1px solid #eee;
    padding: 0.4em 0.2em;
    margin-top: 0;
}

.contents {
    padding: 1em;
}

.pure-menu-link {
    /* コントラストを保つためにPureCSS指定の#777をオーバーライドする */
    color: #767676;
    white-space: normal;
}

ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    padding-left: 1em;
}

li {
    width: fit-content;
    list-style: none;
}

li .pure-menu-link {
    padding-left: 0;
    padding-right: 0;
}

p {
    font-family: Georgia, "Cambria", serif;
    line-height: 1.8em;
}